<li>
	{{- if isset .Params "remote_link" }}
	<a href="{{ .Params.remote_link }}" target="_blank">{{ .Title }}</a><br>
	{{- else }}
   <a href="{{ .Permalink }}">{{ .Title }}</a><br>
	{{- end }}
	<small>{{ .Date | time.Format (i18n "posts.date") }}</small>
	{{ with .Params.tags }}
		{{ range . }}
		<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"><small>#{{ . }}</small></a>
		{{ end }}
	{{ end }}
   <div class="summary">
		{{ .Summary }}
		{{- if isset .Params "preview_image" }}
		{{ $image := .Resources.GetMatch .Params.preview_image }}
		<p>
			<a href="{{ .Params.remote_link }}" target="_blank">
				<img src="{{ $image.RelPermalink }}">
			</a>
		</p>
		{{- end}}
    </div>
</li>
