<header id="banner">
    <h2><a href="{{ .Site.BaseURL }}/{{ .Site.Language.Lang }}">{{ .Site.Title }}</a></h2>

    <div class="logo">
        <a href="{{ .Site.BaseURL }}/{{ .Site.Language.Lang }}">
            <img src="{{ (resources.Get "/img/logo.jpg").RelPermalink }}" />
        </a>
    </div>

    <nav>
        {{ with .Site.Params.social }}
        <ul>
            {{ range sort . "weight" }}
            <li>
                <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}" {{ end }} {{ if
                    .target }}target="{{ .target }}" {{ end }}>{{ .name }}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </nav>

    <nav class="main-menu">
        <ul>
            {{ range .Site.Menus.main.ByWeight -}}
            <li>
                {{ .Pre }}
                <a href="{{ .URL }}" title="{{ .Title }}" {{ if (isset .Params "target" ) }}
                    target="{{ .Params.Target }}" {{ end }}>
                    {{- .Name -}}
                </a>
                {{ .Post }}
            </li>
            {{- end }}
        </ul>
    </nav>
</header>
