{{ $paginator := .Paginate (where .Site.RegularPages "Section" "==" "posts") }}
<ul id="posts" class="posts">
{{- range $paginator.Pages }}
    {{ .Render "li" }}
{{- end }}
</ul>

<div class="pagination">
{{ if .Paginator.HasPrev }}
	<div class="left">
		<a href="{{ .Paginator.Prev.URL }}">Обратно</a>
	</div>
{{ end }}
page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}
{{ if .Paginator.HasNext }}
	<div class="right">
		<a href="{{ .Paginator.Next.URL }}">Дальше</a>
	</div>
{{ end }}
</div>
